.green-bcg-clr {
  background-color: #5cb85c !important;
}

.gray-bcg-clr {
  background-color: #999 !important;
}

.red-bcg-clr {
  background-color: #e74c3c !important;
}

#envoice-container {
  .mt-4 {
    margin-top: 40px;
  }

  /* Colors from original css source*/
  .blue-clr {
    color: #428bca !important;
  }

  .orange-clr {
    color: #faa21b !important;
  }

  .green-clr {
    color: #5cb85c !important;
  }

  .gray-clr {
    color: #999 !important;
  }

  .red-clr {
    color: #e74c3c !important;
  }

  .text-clr {
    color: #465154 !important;
  }

  .nav-clr {
    color: #847071 !important;
  }

  .border-clr {
    color: #ccc !important;
  }

  .blue-bcg-clr {
    background-color: #428bca !important;
  }

  .orange-bcg-clr {
    background-color: #faa21b !important;
  }

  .brown-bcg-clr {
    background-color: #847071 !important;
  }

  /* Container */
  .envoice-content {
    background: #fff;
    margin: 20px 0 0 0;
    padding: 30px 25px 40px 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.2s ease-in-out;
    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    p {
      color: #465152;
      font-size: 14px;
    }

    .header {
      position: relative;
      border-bottom: 1px solid #007bbd;
      padding: 0 0 10px 35px;
      margin: 0 0 30px 0;
      i {
        color: #007bbd !important;
        font-size: 24px;
        position: absolute;
        left: 0;
        top: 5px;
      }
      h2 {
        font-weight: 400;
        font-size: 24px;
        color: #007bbd;
        padding: 0;
        margin: 0 0 8px 0;
      }
      p {
        padding: 0;
        margin: 0;
        font-size: 12px;
        color: #777;
      }
    }

    .caption {
      position: relative;
      padding: 0 0 10px 45px;
      h3 {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.1;
        color: #465152;
        padding: 0;
        margin: 0 0 5px 0;
      }
      p {
        padding: 0;
        margin: 0;
        font-size: 12px;
        color: #777;
      }
      .step {
        top: 4px;
        left: 0;
        padding: 12px;
        border-radius: 100%;
        min-width: 13px;
        margin-right: 10px;
        background: #cecebf;
        font-size: 12px;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        position: absolute;
      }
    }
  }

  /* Inputs */
  .form-input {
    position: relative;
    margin: 0 0 15px 0;
    .text-input {
      width: 50%;
      border-radius: 2px !important;
      border-color: #007bbd !important;
      background-color: #fcfefd !important;
      padding: 22px 12px 10px 12px;
      font-size: 14px;
      line-height: 1.428571429;
      color: #555;
      vertical-align: middle;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }
    label {
      padding-left: 14px;
      padding-top: 5px;
      font-size: 10px;
      color: #007bbd;
      position: absolute;
      top: 0;
      left: 0;
      font-weight: 400;
    }
    p.info-text {
      margin: 5px 0 0 0;
      font-size: 12px;
      color: #777;
    }
  }

  .save-btn {
    color: #fff;
    min-width: 150px;
    background-color: #007bbd;
    border-radius: 2px;
    padding: 13px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: none;
    text-decoration: none;
    &:active {
      outline: 0;
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    }
  }

  .tools {
    position: relative;
    padding: 25px 15px 5px 15px;
    .toolbar-description {
      position: absolute;
      top: 10px;
      left: 35px;
      text-transform: uppercase;
      font-size: 12px;
      color: #007bbd;
    }
  }
  .tools-links {
    display: inline-block;
    filter: grayscale(100%);

    &.enabled {
      filter: none;
      li {
        opacity: 1;
      }
    }
    li {
      vertical-align: top;
      max-width: 100px;
      padding: 0 15px;
      display: inline-block;
      text-align: center;
      opacity: 0.5;
      .livicon-evo-holder {
        margin: 0 auto;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

// active
.label_status {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;

  &.code_0 {
    .green-bcg-clr;
  }

  &.code_1 {
    .red-bcg-clr;
  }

  &.code_2 {
    .gray-bcg-clr;
  }
}

.howl {
  padding: 0;
  list-style: none;
  background: #fff;
  border: 2px solid #007bbd;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}

.howl:empty {
  display: none;
}

.howl-slot {
  position: relative;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  filter: alpha(opacity=20)
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .5;
  filter: alpha(opacity=50)
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none
}

// notification styles
.howl-close {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 10px;
  color: #000;
  outline: none !important;
  filter: alpha(opacity=25);
  -webkit-opacity: 0.25;
  -moz-opacity: 0.25;
  opacity: 0.25;
  text-shadow: none;
}

.howl-message {
  position: relative;
  padding: 15px 30px 20px 65px;
  font-size: 13px;
  font-weight: 400;
  background: transparent;
  -webkit-box-shadow: inset 0 0 #007bbd, inset 0 0 #007bbd,
  inset 0 0 0 rgba(0, 0, 0, 0.3), inset 50px 0 0 #007bbd;
  -ms-box-shadow: inset 0 0 #007bbd, inset 0 0 #007bbd,
  inset 0 0 0 rgba(0, 0, 0, 0.3), inset 50px 0 0 #007bbd;
  box-shadow: inset 0 0 #007bbd, inset 0 0 #007bbd,
  inset 0 0 0 rgba(0, 0, 0, 0.3), inset 50px 0 0 #007bbd;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}

.howl-message:hover .howl-close {
  color: #007bbd;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

.howl-message a {
  color: #428bca;
  text-decoration: none;
}

.howl-message a:hover {
  text-decoration: underline;
}

.howl-title {
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0 0 10px 0;
}

.howl-title:empty {
  display: none;
}

.howl-message-inner:before {
  position: absolute;
  top: 15px;
  left: 18px;
  z-index: 20;
  display: block;
  content: ' ';
  height: 13px;
  width: 13px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}

.howl-message.howl-danger .howl-message-inner:before {
  background-color: #d9534f;
}

.howl-message.howl-info .howl-message-inner:before {
  background-color: #5bc0de;
}

.howl-message.howl-success .howl-message-inner:before {
  background-color: #5cb85c;
}

.howl-message.howl-warning .howl-message-inner:before {
  background-color: #f0ad4e;
}

.howl-icon {
  position: absolute;
  top: 12px;
  left: 15px;
  z-index: 1000;
  width: 1em;
  font-size: 20px;
  text-align: center;
}

.howl-has-icon .howl-message-inner:before {
  display: none !important;
}

.howl-has-icon .howl-icon {
  color: #bbb;
}

.howl-has-icon .howl-success .howl-icon {
  color: #5cb85c;
}

.howl-has-icon .howl-warning .howl-icon {
  color: #f0ad4e;
}

.howl-has-icon .howl-danger .howl-icon {
  color: #d9534f;
}

.howl-has-icon .howl-info .howl-icon {
  color: #5bc0de;
}